// General font settings throughout the application.
body {
    font-family: 'Skranji', cursive;
    font-weight: 400;
    color: $color-light-primary;

    @include mobile(){
        font-size: $font-size-small;
    }

    @include tablet(){
        font-size: $font-size-default;
    }

    @include desktop(){
        font-size: $font-size-large;
    }

}
