// COLORS
$color-red-primary: #FF0800;
$color-orange-primary: #FF751B;
$color-yellow-primary: #FFE115;
$color-dark-primary: #222;
$color-light-primary: #BCBC;

// FONTS
$font-size-default: 1.6rem;
$font-size-extra-small: 0.6 * $font-size-default;
$font-size-small: 0.8 * $font-size-default;
$font-size-large: 1.2 * $font-size-default;

