.board {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 0.5rem;
    background-image: url('../assets/board-background.svg');
    background-size: cover;

    &__background-image {
        @include absCenter();
        height: 100%;
        width: 100%;
        background-image: url('../assets/board-image.svg');
        background-size: cover;
        opacity: 0.15;
    }
}