.board-square {
    position: relative;
    display: inline-block;
    width: calc(100% / 11);
    height: 100%;
    z-index: 5;
    border: 1px solid lighten($color-dark-primary, 25);

    &--top {
        border-top: none;
    }

    &--bottom {
        border-bottom: none;
    }

    &--left {
        border-left: none;
    }

    &--right {
        border-right: none;
    }
}