.board-square {
    position: relative;
    display: inline-block;
    width: calc(100% / 11);
    height: 100%;
    border: 1px solid lighten($color-dark-primary, 25);

    &--top {
        border-top: none;
    }

    &--bottom {
        border-bottom: none;
    }

    &--left {
        border-left: none;
    }

    &--right {
        border-right: none;
    }

    &--restricted {
        background-color: rgba(orangered, 0.4);
    }

    &--selectable {
        border-color: aqua;
    }

    &--illegal-move {
        background: rgba(black, 0.6);
    }
}